<div ng-controller="NewsFeedCtrl">
		<form>
			<div class="form-group">
				<li ng-repeat="feed in feeds">
					<p>{{feed}}</p>
					<hr/>
				</li>	  		  		 
			</div>
			<hr/>					  	
		</form>
</div>