<div ng-controller="ShowGroupMembersCtrl">
		<form>
			  <hr/>
			  <div class="form-group">
				  <li ng-repeat="member in groupMembers">
				  		<p>{{member.name}}</p>
				  </li>	  		  		 
			  </div>
			  <hr/>
		</form>
</div>